<app-navbar></app-navbar>
<br>

<div class="container">
      <pagination-controls (pageChange)="page = $event" style="text-align: center;"></pagination-controls>
     
<div *ngFor="let o of orders | paginate: { itemsPerPage: 10, currentPage: page, totalItems:totalLength }; let index=index">
      
            <h4 style="text-align: center;border: 2px solid rgb(246, 246, 251);background-color: rgb(0, 115, 255);">{{index + 1}}</h4>
            
      <div class="row" style="border: 0.3px solid black;" *ngFor="let p of o.items">
            <h6 style="color: blue; text-align: center;">User Order</h6>
            <div style="width: 200px; height: 200px;">
                  <img src="{{imagepath}}{{p.Product.image}}" alt="..." class="img-thumbnail"> 
            </div>
           
         <div class="col" style="border: 0.3px solid black;"><b>ProductName:-</b>{{p.Product.name}}
            <p></p>
      <div class="col"  ><b>Quantity:- </b> {{p.quantity}}</div>
      <p></p>
      <div class="col"><b >Details:-</b>{{p.Product.detailes}}</div>
      </div>
         <div class="col" style="border: 0.3px solid black;"> <b>CompanyName:-</b>{{p.Product.cid}}
            <p></p>
            <div class="col"><b >TotalPrice:-</b>{{p.totalprice}}</div>
            <p></p>
            <div class="col"><b >Order Date:-</b>{{o.orderdate }}</div>
            <p></p>
          
      </div>
      </div>
      <br>
      <div class="row" style="border: 0.3px solid black;">
            <h6 style="color: blue; text-align: center;">User Detailes</h6>
            <div class="col"style="border: 0.3px solid black;"><b>UserName:-</b>{{o.User.username}}</div>
            <div class="col"style="border: 0.3px solid black;"><b>EmailId:-</b>{{o.User.email}}</div>
            <div class="col"style="border: 0.3px solid black;"><b>MobileNo:-</b>{{o.User.mobile}}</div>
            </div>
            <br>
      <div class="row" style="border: 0.3px solid black;">
             <h6 style="color: blue; text-align: center;">User Address</h6>
      <div class="col"style="border: 0.3px solid black;"><p><b>HouseNo:- </b>{{o.userAddress.houseno}}</p> <b>Street:- </b> <p>{{o.userAddress.street}}</p></div>
      <div class="col" style="border: 0.3px solid black;"><p><b>Landmark:- </b>{{o.userAddress.landmark}} </p> <p><b>Pincode:- </b>{{o.userAddress.pincode}} </p></div>
      <div class="col" style="border: 0.3px solid black;"><p> <b>City:- </b>{{o.userAddress.city}}</p><p><b>District:- </b> {{o.userAddress.district}}</p></div>
      <div class="col" style="border: 0.3px solid black;"><p><b>State:- </b>{{o.userAddress.state}}</p></div>
      <form style="background-color: rgb(146, 187, 253);">
            <b>Order Place:-</b>&nbsp;
            <input type="radio" name="place" value="Packed" [(ngModel)]="place"><b style="color: rgb(0, 0, 4);">&nbsp; Packed</b>&nbsp;
            <input type="radio" name="place" value="State" [(ngModel)]="place"><b style="color: rgb(0, 0, 0);">&nbsp; State</b>&nbsp;
            <input type="radio" name="place" value="Shipped" [(ngModel)]="place"><b style="color: rgb(0, 0, 9);">&nbsp; Shipped</b>&nbsp;
            <input type="radio" name="place" value="Delivery Today" [(ngModel)]="place"><b style="color: rgb(0, 0, 10);">&nbsp;Delivery Today</b>&nbsp;
            <input type="radio" name="place" value="Confirm Order" [(ngModel)]="place"><b style="color: rgb(0, 0, 12);">&nbsp;Confirm Order</b>&nbsp;
            <input type="submit" value="Submit" class="btn btn-primary" (click)="ordertracking(o._id)">
            <!-- <b>Order Place:-</b> <input list="place" name="places" id="places" [(ngModel)]="place" >
            <datalist id="place">
                  <option>Packed</option>
                  <option>State</option>
                  <option>Shipped</option>
                  <option>Delivery Today</option> 
                  <option>Confirm Order</option>
            </datalist>&nbsp;
               <button class="btn-primary" (click)="ordertracking(o._id)">SUBMIT</button> -->
           </form>
      </div>
      <br>
</div>
<pagination-controls (pageChange)="page = $event" style="text-align: center;"></pagination-controls>
</div>
