#nav{
    margin-left: 10px;
    
}

.top-right {
    position: absolute;
    top: 1px;
    left : 1385px;
    /* color: rgb(250, 176, 2);
    font-size: 30
    background-color: rgb(0, 153, 255); */
    border-radius: 15px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 3px;

    background: rgb(232, 217, 217);
    border: 2px solid rgb(6, 0, 0);
    color: rgb(8, 60, 229);
    text-align: center;

    font: 25px Arial, sans-serif;
}

#cart{
    margin-left: 700px;
}
select{
    background-color: black;
    color: white;
    margin-top: 8px;
}