<br><br>
<div class="container"> 
    <button class="btn  btn-info offset-3" routerLink="/user/login">Go To Login</button>
    <br><br>
    <h1 style="text-align: center; color: blue;">Forgot Password Here</h1>
    <div class="col-md-10 offset-3">
      
    <form>
        <h4 [style.color]="status=='error' ? 'red': 'green'" *ngIf="err" style="margin-left: 200px;">{{msg}}</h4>
        <div class="form-group">
            <div class="row">
                <label>Email-Id:</label>
                <div class="col">
                    <input type="email" class="form-control" [(ngModel)]="emailid" name="email"  [readonly]="isReadOnly">   
                </div>
                <div class="col">
                    <button (click)="sendemail()" class="btn btn-success">Send</button> 
                </div>
            </div>
        </div>
        
     <div class="form-group">
       
        <div class="row">
            <label>Verify Otp:</label>
            <div class="col">
                <input type="text" class="form-control" [(ngModel)]="otp" name="otp">   
            </div>
            <div class="col">
                <button (click)="otpverification()" class="btn btn-warning">Verify</button> 
            </div>
        </div>
    </div>
    <div *ngIf="disable">
    <div class="form-group col-md-7">
    <label>New Password:</label>
    <input type="password" class="form-control" [(ngModel)]="newpassword" name="newpassword">
    </div>
    <div class="form-group col-md-7">
        <label>Confirm Password:</label>
        <input type="password" class="form-control" [(ngModel)]="confirmpassword" name="newpassword">
        </div>
        <br>
        <button type="submit" class=" col-md-7 btn btn-primary" (click)="updatapassword()">Update Password</button>
    </div>
    </form>
</div>
</div>
<br><br><br><br>
<!-- <div style="color: red;" class=" offset-4">
    <h2 >Note:</h2>
    <p >Please do not reload page otherwise you can not forgot password</p>
</div> -->
