<app-navbar></app-navbar>
<br><br>
<!-- <div class="row">
    <div class="col-xs-12 col-12">
        <p>HE</p>
      <pagination  [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>
  <pre class="card card-block card-header mb-3">
    Page changed to: {{page}}
  </pre> -->
  
<div class="container">
    <button class="btn btn-primary" routerLink="/admin/adduser">Add User</button>
    <br>
     <br>
    <div id="page">
        <pagination  [(ngModel)]="currentPage" [itemsPerPage]="2" (pageChanged)="pageChanged($event)"  [totalItems]="totalItems" ></pagination>
        <br>
    </div>
    <h3 *ngIf="err" style="text-align: center; color : red;"> Server Error</h3>
    <h2 style="font-family: Comic Sans MS;text-align: center; color : rgb(0, 140, 255);"> All Users</h2>
    <p></p>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>USERNAME</th>
                <th>EMAIL-ID</th>
                <th>MOBILE-NO</th>
                <th>Delete </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of user; let index = index">
                <td>{{index+1}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.mobile}}</td>
                <td>
                   
                            <button (click)="ondelete(user._id)" class="btn btn-danger" style="background-color: white; border-color: white;">
                                <img class="glyphicon glyphicon-trash" height="45px" width="45px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdU5LBloVX2UPMDhEbgc99Tq6AzHRj5S4R-g&usqp=CAU"></button>
                   
                   
                    </td> 
            </tr>
        </tbody>
    </table>
    <div id="page">
        <pagination  [(ngModel)]="currentPage" [itemsPerPage]="2" (pageChanged)="pageChanged($event)"  [totalItems]="totalItems" ></pagination>
        <br>
    </div>
</div>